server:
  port: 8085
  error:
    include-message: always

spring:
  application:
    name: data-source
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5999/data_source
    username: postgres
    password: postgres
    hikari:
      maxLifetime: 60000
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.format_sql: true
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        enable_lazy_load_no_trans: true
  flyway:
    baseline-on-migrate: true
    enabled: true
    locations: classpath:db/migration
